@import "tailwindcss";
@source "../../src";

/* Bravura Music Font - SMuFL compliant */
@font-face {
  font-family: 'Bravura';
  src: url('/fonts/Bravura.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
